*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
.grid{
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 10vh 80vh 10vh;
    display: grid;
}
header{
    grid-column: 1/4;
    grid-row: 1/2;
    display: grid;
    place-items: center;
    border: 1px solid blue;
}
.left{
    grid-column: 1/2;
        grid-row: 2/3;
        display: grid;
        place-items: center;
        border: 1px solid blue;
}
footer{
    grid-column: 1/4;
        grid-row: 3/4;
        display: grid;
        place-items: center;
        border: 1px solid blue;
}

















